<template>
  <section>
    <b-carousel
      :autoplay="autoplay"
      :animated="animated"
      :indicator="indicator"
      :indicator-background="indicatorBackground"
      :indicator-inside="indicatorInside"
      :indicator-mode="indicatorMode"
      :indicator-position="indicatorPosition"
      :indicator-style="indicatorStyle"
    >
      <b-carousel-item
        v-for="(carousel, i) in carousels"
        :key="i"
        class="carousel"
      >
        <section :class="`hero is-medium is-${carousel.color}`">
          <img src="../assets/homepage.jpg" />
          <div class="hero-body has-text-centered">
            <h1 class="title">{{ carousel.title }}</h1>
            <span class="image"> </span>
          </div>
        </section>
      </b-carousel-item>
    </b-carousel>
  </section>
</template>

<script>
export default {
  data() {
    return {
      autoplay: false,
      animated: 'fade',
      indicator: true,
      indicatorBackground: false,
      indicatorInside: false,
      indicatorMode: 'click',
      indicatorPosition: 'is-bottom',
      indicatorStyle: 'is-lines',
      carousels: [
        { title: 'Slide 1', color: 'info' },
        { title: 'Slide 2', color: 'success' },
        { title: 'Slide 3', color: 'warning' },
        { title: 'Slide 4', color: 'danger' },
      ],
    }
  },
}
</script>

<style>
.carousel {
  padding: 5px 0 0 0;
  width: 100%;
  height: 300px;
}
.indicator-style {
  padding: 5px 7px;
  border-radius: 2px;
  min-width: 40px;
  max-width: 58px;
}
.carousel .carousel-indicator .indicator-item .indicator-style {
  background: #203552 !important;
  border: none !important;
}
.carousel .carousel-indicator .indicator-item .indicator-style:hover {
  background: #3598fe !important;
  border: none !important;
}
</style>
