<template>
  <section class="nav">
    <b-navbar class="navbar" style="background-color: #212633">
      <template #start>
        <b-icon-list class="hamburger" @click="open = true"></b-icon-list>
        <b-navbar-item class="nav-item" tag="router-link" :to="{ path: '/' }">
          <b-icon-house class="home"></b-icon-house>
        </b-navbar-item>

        <b-navbar-item href="#" class="nav-item"> Slots </b-navbar-item>
        <b-navbar-item href="#" class="nav-item"> Live Casino </b-navbar-item>
        <b-navbar-item href="#" class="nav-item"> Twin Races </b-navbar-item>
        <b-navbar-item href="#" class="nav-item"> Jackpots </b-navbar-item>
        <div class="logo">
          <img
            src="http://fakeimg.pl/200x50?text=logo"
            alt=""
            style="width: 200px; height: 50px; text-align: center"
          />
        </div>
      </template>
      <template #end>
        <b-navbar-item href="#" class="nav-item"> Promotions </b-navbar-item>
        <b-navbar-item tag="div">
          <div class="buttons">
            <a class="button is-light"> Log in </a>
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>

    <b-sidebar
      v-model="open"
      class="nav"
      type="is-dark"
      :fullheight="fullheight"
      :fullwidth="fullwidth"
      :overlay="overlay"
      :right="right"
    >
      <b-menu class="nav">
        <b-menu-list>
          <div class="SidebarNavigationComponent">
            <a class="SidebarNavigationComponent-menu-item first">Home</a>
            <a class="SidebarNavigationComponent-menu-item">Slots</a>
            <a class="SidebarNavigationComponent-menu-item">Live Casino</a>
            <a class="SidebarNavigationComponent-menu-item">Twin Races</a>
            <a class="SidebarNavigationComponent-menu-item">Jacpots</a>
            <a class="SidebarNavigationComponent-menu-item">Table Games</a>
            <a class="SidebarNavigationComponent-menu-item">Promotions</a>
          </div>
          <ul class="additional-menu">
            <li class="additional-menu-li">
              <a class="additional-menu-li-item">Twin Rewards</a>
            </li>
            <li class="additional-menu-li">
              <a class="additional-menu-li-item">VIP</a>
            </li>
            <li class="additional-menu-li">
              <a class="additional-menu-li-item">Payment Options</a>
            </li>
            <li class="additional-menu-li">
              <a class="additional-menu-li-item">FAQ</a>
            </li>
            <li class="additional-menu-li">
              <a class="additional-menu-li-item">Get in Touch</a>
            </li>
            <li class="additional-menu-li">
              <a class="additional-menu-li-item">Sequrity & Privacy Policy</a>
            </li>
            <li class="additional-menu-li">
              <a class="additional-menu-li-item">About Us</a>
            </li>
            <li class="additional-menu-li">
              <a class="additional-menu-li-item">Get Twin app</a>
            </li>
          </ul>

          <!--           <b-menu-item label="Home" class="first"></b-menu-item>
          <b-menu-item label="Slots"></b-menu-item>
          <b-menu-item label="Live Casino"></b-menu-item>
          <b-menu-item label="Twin Races"></b-menu-item>
          <b-menu-item label="Jacpots"></b-menu-item>
          <b-menu-item label="Table Games"></b-menu-item>
          <b-menu-item label="Promotions"></b-menu-item> -->

          <!--           <b-menu-item label="Twin Rewards"></b-menu-item>
          <b-menu-item label="VIP"></b-menu-item>
          <b-menu-item label="Payment Options"></b-menu-item>
          <b-menu-item label="FAQ"></b-menu-item>
          <b-menu-item label="Get in Touch"></b-menu-item>
          <b-menu-item label="Sequrity & Privacy Policy"></b-menu-item>
          <b-menu-item label="About Us"></b-menu-item>
          <b-menu-item label="Get Twin app"></b-menu-item> -->
        </b-menu-list>
      </b-menu>
    </b-sidebar>
  </section>
</template>

<script>
import { BIconHouse, BIconList } from 'bootstrap-vue'
export default {
  components: {
    BIconHouse,
    BIconList,
  },
  data() {
    return {
      open: false,
      overlay: true,
      fullheight: true,
      fullwidth: false,
      right: false,
    }
  },
}
</script>

<style>
.nav {
  background-color: #282d3a;
}
.nav-item {
  color: #c0c0c0;
}
.hamburger {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #c0c0c0;
  margin-top: 15px;
}
.first {
  margin-top: 50px;
}
.SidebarNavigationComponent {
  margin-bottom: 15px;
}
.SidebarNavigationComponent-menu-item {
  position: relative;
  display: block;
  padding: 0 20px;
  line-height: 30px;
  color: #fff !important;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none !important;
}
.SidebarNavigationComponent-menu-item:hover {
  background-color: #323746 !important;
  text-decoration: none !important;
  outline: none !important;
}
.SidebarComponent .additional-menu {
  margin: 0 20px;
  padding: 0;
  list-style: none;
}
.additional-menu-li {
  margin-bottom: 15px;
}
.additional-menu-li-item {
  display: block;
  background-color: none !important;
  line-height: 28px;
  text-decoration: none;
  outline: none;
  color: #323746;
}
.additional-menu-li-item:hover {
  text-decoration: underline;
  color: #fff;
}
</style>
