<template>
  <div>
    <header>
      <div class="nav-menu">
        <Navbar1 />
      </div>
    </header>
    <Nuxt />
    <footer>
      <div class="FooterComponent">
        <nav class="bordered">
          <ul class="FooterComponent-navigation">
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link">About Us</a>
            </li>
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link">Affiliates</a>
            </li>
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link">Careers</a>
            </li>
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link"
                >Security & Privacy Policy</a
              >
            </li>
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link"
                >Responsible Gambling</a
              >
            </li>
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link"
                >Terms of Use</a
              >
            </li>
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link">Game Rules</a>
            </li>
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link"
                >Bonus Terms</a
              >
            </li>
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link"
                >Payment Options</a
              >
            </li>
            <li class="FooterComponent-navigation-item">
              <a href="#" class="FooterComponent-navigation-link"
                >Get in Touch</a
              >
            </li>
          </ul>
        </nav>
        <section class="FooterComponent-info bordered">
          <div>
            <h3 class="FooterComponent-heading">Awards:</h3>
            <ul class="FooterComponent-info-awards">
              <li class="FooterComponent-info-awards-award">First</li>
              <li class="FooterComponent-info-awards-award">Second</li>
              <li class="FooterComponent-info-awards-award">Third</li>
            </ul>
          </div>
          <div>
            <h3 class="FooterComponent-heading-payments">Payment methods:</h3>
            <ul class="FooterComponent-info-payments">
              <li class="FooterComponent-info-payments-payment">First</li>
              <li class="FooterComponent-info-payments-payment">Second</li>
              <li class="FooterComponent-info-payments-payment">Third</li>
            </ul>
          </div>
        </section>
        <section class="FooterComponent-gambling-help bordered">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </section>
        <section class="FooterComponent-gambling bordered">
          <a href="#">Link</a>
          <p class="logo"></p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
          </p>
        </section>
        <section class="bordered">
          <div class="FooterComponent-info">
            <div class="FooterComponent-info-copyright">
              TM + © 2020 Twin.com. All rights reserved.
            </div>
            <div class="FooterComponent-age-limit">18 AND OVER ONLY</div>
          </div>
        </section>
        <div>&nbsp;</div>
      </div>
    </footer>
  </div>
</template>
<script>
import Navbar1 from '@/components/Navbar1'
export default {
  components: {
    Navbar1,
  },
}
</script>
<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  position: relative;
  height: 100%;
  background: #1c1d27;
}

header {
  z-index: 10000;
  height: 60px;
  width: 100%;
  position: fixed;
}
.nav-menu {
  height: 100%;
}
.FooterComponent-navigation {
  display: block;
  text-align: center;
  list-style: none;
  padding: 20px 0;
}
.FooterComponent-navigation-item {
  display: inline-block;
  vertical-align: middle;
}
.FooterComponent-navigation-link {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
  text-decoration: none;
  color: #9698a1;
  vertical-align: top;
}
.FooterComponent-heading {
  margin: 0;
  padding: 0 0 0 5px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #dedfe3;
}
.FooterComponent-heading-payments {
  position: absolute;
  right: 88px;
  top: 0;
  margin: 0;
  padding: 0 5px 0 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #dedfe3;
}
.FooterComponent-info-awards {
  list-style: none;
  margin: 0;
  padding: 0 0 0 5px;
}
.FooterComponent-info-awards-award {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
  vertical-align: top;
}
.FooterComponent-info-payments {
  position: absolute;
  padding: 25px 5px 0 0;
  list-style: none;
  text-decoration: none;
  right: 0;
  top: 0;
}
.FooterComponent-info-payments-payment {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 20px;
  vertical-align: top;
}
.FooterComponent-gambling-help {
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #777b8a;
}
.FooterComponent-gambling {
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #777b8a;
}
.FooterComponent-info {
  position: relative;
}
.FooterComponent-info-copyright {
  font-size: 12px;
  line-height: 2em;
  color: #777b8a;
}
.FooterComponent-age-limit {
  position: absolute;
  padding: 3px 7px 3px 3px;
  right: 0;
  top: 0;
  font-size: 12px;
  color: #777b8a;
  vertical-align: middle;
}
</style>
