<template>
  <div class="container">
    <div class="CarouselComponent">
      <Carousel />
    </div>
    <div class="content"></div>
    <div class="one-item">
      <p class="item-title">New Games</p>
      <a class="more" href="#">See more</a>
      <div class="SliderComponent">
        <Slider />
      </div>
    </div>
    <div class="one-item">
      <p class="item-title">Recommends</p>
      <a class="more" href="#">See more</a>
      <div class="SliderComponent">
        <Slider />
      </div>
    </div>
    <div class="one-item">
      <p class="item-title">Trending</p>
      <a class="more" href="#">See more</a>
      <div class="SliderComponent">
        <Slider />
      </div>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import Carousel from '@/components/Carousel'
import Slider from '@/components/Slider'
export default {
  components: {
    Carousel,
    Slider,
  },
}
</script>

<style>
.container {
  position: relative;
  padding: 0.8% 1.8%;
  max-width: none !important;
}
.bordered {
  border-top: 1px solid #323746;
  margin: 4px 0 4px 0;
}
.CarouselComponent {
  margin-top: 45px;
  margin-bottom: 48px;
  width: 100%;
}
.item-title {
  display: inline-block;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  color: #fff;
}
.one-item {
  position: relative;
}
.SliderComponent {
  margin-top: 30px;
}
.more {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 3px 5px 0;
  padding: 10px 10px;
  color: #fff;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  outline: none;
  text-align: right;
  border-radius: 5px;
  text-decoration: none;
}
.more:hover {
  border: 1px solid hsl(0, 100%, 99%);
  color: #fff;
}
</style>
